/.SocratesRuntimeModule.java._trace
/.SocratesRuntimeModule.xtendbin
/.SocratesStandaloneSetup.java._trace
/.SocratesStandaloneSetup.xtendbin
/SocratesRuntimeModule.java
/SocratesStandaloneSetup.java
