<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.snt.lu/Socrates"
			class = "lu.snt.socrates.SocratesPackage"
			genModel = "model/generated/Socrates.genmodel" />
	</extension>

</plugin>




